<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!DOCTYPE html>
<html lang="en">
<head th:insert="~{/helpers/headertmpl.html :: header()}"></head>
<body>
<nav th:replace="~{/helpers/navbartmpl.html :: navbar(4)}"></nav>

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-8 sm:mt-8 lg:mt-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="grid grid-cols-1 gap-x-8 gap-y-24 lg:grid-cols-2">
            <div class="lg:order-last" style="opacity: 1; transform: none;">
                <form>
                    <h2 class="font-display text-base font-semibold text-neutral-950" th:text="#{contact.title}">Contact Me</h2>
                    <div class="isolate mt-6 -space-y-px rounded-2xl bg-white/50">
                        <div class="group relative z-0 transition-all focus-within:z-10"><input id=":S1:" autocomplete="name" placeholder=" " class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-12 text-base/6 text-neutral-950 ring-4 ring-transparent transition focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5 group-first:rounded-t-2xl group-last:rounded-b-2xl"
                                                                                                type="text" name="name"><label for=":S1:" class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-neutral-950 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-neutral-950" th:text="#{contact.form.name}">Name</label></div>
                        <div
                                class="group relative z-0 transition-all focus-within:z-10"><input id=":S2:" autocomplete="email" placeholder=" " class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-12 text-base/6 text-neutral-950 ring-4 ring-transparent transition focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5 group-first:rounded-t-2xl group-last:rounded-b-2xl"
                                                                                                   type="email" name="email"><label for=":S2:" class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-neutral-950 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-neutral-950" th:text="#{contact.form.email}">Email</label></div>
                        <div
                                class="group relative z-0 transition-all focus-within:z-10"><input id=":S3:" autocomplete="organization" placeholder=" " class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-12 text-base/6 text-neutral-950 ring-4 ring-transparent transition focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5 group-first:rounded-t-2xl group-last:rounded-b-2xl"
                                                                                                   type="text" name="company"><label for=":S3:" class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-neutral-950 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-neutral-950" th:text="#{contact.form.company}">Company</label></div>
                        <div
                                class="group relative z-0 transition-all focus-within:z-10"><input id=":S5:" placeholder=" " class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-12 text-base/6 text-neutral-950 ring-4 ring-transparent transition focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5 group-first:rounded-t-2xl group-last:rounded-b-2xl"
                                                                                                   type="text" name="message"><label for=":S5:" class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-neutral-950 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-neutral-950" th:text="#{contact.form.message}">Message</label></div>
                    </div><button type="submit" class="mt-10 inline-flex px-5 py-2 text-sm font-semibold transition bg-neutral-950 text-white hover:bg-neutral-600"><span class="relative top-px" th:text="#{contact.form.button}">Let’s work together</span></button></form>
            </div>
            <div style="opacity: 1; transform: none;">
                <h2 class="font-display text-base font-semibold text-neutral-950" th:text="#{contact.section.availability}">Availability</h2>
                <ul role="list" class="mt-4 grid grid-cols-1 gap-8 sm:grid-cols-3">
                    <li>
                        <address class="text-sm not-italic text-neutral-600">
                            <strong class="text-neutral-950" th:text="#{contact.section.availability.weekdays.text}"></strong>
                            <br>
                            <a th:text="#{contact.section.availability.weekdays.actual}"></a>
                            <br>
                            <a th:text="#{contact.section.availability.timezone.text}"></a>
                        </address>
                    </li>
                    <li>
                        <address class="text-sm not-italic text-neutral-600">
                            <strong class="text-neutral-950" th:text="#{contact.section.availability.weekends.text}"></strong>
                            <br>
                            <a th:text="#{contact.section.availability.weekends.actual}"></a>
                            <br>
                            <a th:text="#{contact.section.availability.timezone.text}"></a>
                        </address>
                    </li>
                    <li>
                        <address class="text-sm not-italic text-neutral-600">
                            <strong class="text-neutral-950" th:text="#{contact.section.availability.holidays.text}"></strong>
                            <br>
                            <a th:text="#{contact.section.availability.holidays.actual}"></a>
                            <br>
                            <a th:text="#{contact.section.availability.timezone.text}"></a>
                        </address>
                    </li>
<!--                    <li><address class="text-sm not-italic text-neutral-600"><strong class="text-neutral-950" th:text="#{contact.section.availability.weekends.text}">Saturday - Sunday</strong><br>9:30am to 11:00pm<br>Eastern Daylight Time</address></li>-->
<!--                    <li><address class="text-sm not-italic text-neutral-600"><strong class="text-neutral-950" th:text="#{contact.section.availability.holidays.text}">US Holidays</strong><br>9:30am to 9:30pm<br>Eastern Daylight Time</address></li>-->
                </ul>
                <div class="mt-16 pt-16 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                    <h2 class="font-display text-base font-semibold text-neutral-950" th:text="#{contact.section.email}"></h2>
                    <dl class="mt-6 grid grid-cols-1 gap-8 text-sm sm:grid-cols-2">
                        <div><dt class="font-semibold text-neutral-950" th:text="#{contact.section.email.personal}">Personal</dt>
                            <dd><a class="text-neutral-600 hover:text-neutral-950" href="mailto:raymondpattend@icloud.com">raymondpattend@icloud.com</a></dd>
                        </div>
                        <div><dt class="font-semibold text-neutral-950" th:text="#{contact.section.email.business}">Business</dt>
                            <dd><a class="text-neutral-600 hover:text-neutral-950" href="mailto:raymond@narroproject.org">raymond@narroproject.org</a></dd>
                        </div>
                    </dl>
                </div>
                <div class="mt-16 pt-16 relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                    <h2 class="font-display text-base font-semibold text-neutral-950" th:text="#{contact.section.quickly.title}">Need to contact me quickly?</h2>
                    <p class="text-neutral-600 hover:text-neutral-950 text-sm" th:text="#{contact.section.quickly.text1}">I'll respond quickest to friend requests on Discord, then emails, in that order.</p>
                    <p class="text-neutral-600 hover:text-neutral-950 text-sm" th:text="#{contact.section.quickly.text2}">Feel free to add me on Discord @ <a class="text-neutral-950">rayrnond</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav th:replace="~{/helpers/footertmpl.html :: footer()}"></nav>
</body>
</html>