<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
-->

<!DOCTYPE html>
<html lang="en">
<head th:insert="~{/helpers/headertmpl.html :: header()}"></head>
<body class="bg-black">
<nav th:replace="~{/helpers/navbartmpl.html :: navbar()}"></nav>
</body>
</html>