<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->
<footer th:fragment="footer()" class="bg-white mb-20">
    <div class="border-t border-gray-900/10 mx-auto flex gap-8 max-w-lg mt-24 justify-center pt-12">
        <h3 class="text-sm font-semibold leading-6 text-gray-900" th:text="#{navigation.bar.one}">Blog</h3>
        <h3 class="text-sm font-semibold leading-6 text-gray-900" th:text="#{navigation.bar.two}">Photos</h3>
        <h3 class="text-sm font-semibold leading-6 text-gray-900" th:text="#{navigation.bar.three}">Code Snippets</h3>
        <h3 class="text-sm font-semibold leading-6 text-gray-900" th:text="#{navigation.bar.four}">Contact</h3>
    </div><div class="mx-auto flex gap-8 max-w-lg pt-10 justify-center">
    <h3 class="text-sm leading-6 text-gray-900/50" th:text="#{copyright}"></h3>
</div>
</footer>