<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  ~  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
  -->

<!--
  © 2023 Raymond Pattend & Narro LLC. All rights reserved.
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header()">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <script src="https://cdn.tailwindcss.com"></script>
  <script async src="https://analytics.eu.umami.is/script.js" data-website-id="eaa82adb-98b3-49d1-8f61-98b52882aa63"></script>

  <link rel="icon" href="/public/images/favicon.svg">
  <link rel="mask-icon" href="/public/images/favicon.svg" color="#000">
  <link rel="apple-touch-icon" href="/public/images/favicon.svg">

  <title>Raymond Pattend</title>

  <meta property="og:title" content="Raymond Pattend">
  <meta property="og:site_name" content="Raymond Pattend">
  <meta property="og:url" content="https://raymondpattend.com/">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://midnacht.com/public/images/promo-embed-full.png">
  <meta property="og:description" content="Blogs straight from the source.">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="theme-color" content="#fff">
  <meta name="msapplication-TileColor" content="#fff">

</head>
</html>